.App {
  text-align: center;
}

/* HEADER STYLES */

.App-header {
  background-color: #FAF9F7;
  min-height: 8vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  font-size: calc(10px + 2vmin);
  color: #4C6F39;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}
.header-logo {
  grid-column: 2 / 5;
}
.header-logo img {
  width: 100%;
}
.header-text {
  height: 4vh;
  grid-column: 8 / 13;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #4C6F39;
}
.header-phone {
  grid-column: 13 / 16;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
